.contact-con {
	@include flexColCenter;
	position: relative;
	background-image: url(../public/images/main-header.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 0px 40px;
	@include from-320-to-567 {
		padding: 0px 15px;
	}
	h1 {
		margin: 0px;
		font-size: 72px;
		@include from-320-to-567 {
			font-size: 32px;
		}
	}
	p {
		margin: 0px;
		font-size: 20px;
		@include from-320-to-567 {
			font-size: 16px;
			text-align: center;
		}
	}
}
.formWrap {
	width: 60%;
	background: #fff;
	border-radius: 20px;
	padding: 40px;
	backdrop-filter: blur(5px);
	margin-top: 20px;
	box-shadow: 0 0 15px #19bdf0;
	@include from-320-to-992 {
		width: 100%;
	}
	.singleInpWrap {
		display: flex;
		flex-direction: column;
		label {
			font-size: 18px;
			margin-bottom: 5px;
			color: #000;
		}
		input {
			background: transparent;
			border: 0px;
			border-bottom: 1px solid #000;
			margin-bottom: 20px;
			color: #000;
		}
		textarea {
			margin-top: 5px;
			border-radius: 10px;
			margin-bottom: 20px;
			padding: 20px;
			color: #000;
		}
	}
	.sub-btn-wrap {
		button {
			@include btnPrimary;
			border: 1px solid #19bdf0;
			color: #19bdf0;
			&:hover {
				color: #fff;
			}
		}
	}
}
.phone-con {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	flex-wrap: wrap;
	.card-phone {
		border-radius: 10px;
		box-shadow: 0 0 10px #19bdf0;
		backdrop-filter: 5px;
		background: rgba(0, 0, 0, 0.15);
		margin: 20px 10px;
		display: flex;
		flex-direction: column;
		padding: 20px;
		transition: 0.3s ease-in-out;
		@include from-320-to-567 {
			padding: 20px 10px;
		}
		&:hover {
			background-color: transparentize($color: #19bdf0, $amount: 0.3);
			cursor: pointer;
		}
		img {
			align-self: center;
		}
		p {
			font-size: 18px;
			text-align: center;
			@include from-320-to-567 {
				font-size: 14px;
			}
		}
	}
}
